.cart-badge {
  position: absolute;
  top: 120px; /* Adjust as needed */
  right: 12px; /* Adjust as needed */
  background-color: lightblue;
  color: black;
  font-size: 2.75rem; /* text-xs */
  border-radius: 9999px; /* rounded-full */
  height: 124px; /* h-6 */
  width: 124px; /* w-6 */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color); /* Matches border-2 border-primary-color */
}
