.cart-badge {
  position: absolute;
  top: 120px;
  right: 12px;
  background-color: lightblue;
  color: black;
  font-size: 2.75rem;
  border-radius: 9999px;
  height: 124px;
  width: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
}
