.container {
  background-color: lightblue;
  padding: 2rem;
  border-radius: var(--border-radius-lg);
  box-shadow: 0 4px 12px var(--shadow-color);
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  justify-items: center;
}

@media (min-width: 768px) {
  .product-grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .product-grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}