
<mat-card class="product-card-custom">
  <mat-card-header>
    <mat-card-title class="mat-card-title"><h3 class="text-xl font-semibold">{{ product.name }}</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex flex-col items-center">
    <img [src]="product.url" [alt]="product.name" class="w-full h-24 object-cover rounded-md mb-4 cursor-pointer product-image" (click)="onViewDetailsClick()">
    <p class="text-gray-700 mb-2">${{ product.price | number:'1.2-2' }}</p>
    <p class="text-gray-500 text-sm mb-4 text-center">{{ product.description.substring(0, 100) }}...</p>
    <div class="flex flex-col space-y-4 w-full mt-auto">
      <button class="btn btn-primary-add" (click)="onAddToCart()">Add to Cart</button>
      <button class="btn btn-primary-details" (click)="onViewDetailsClick()">View Details</button>
    </div>
  </mat-card-content>
</mat-card>
