.product-card-custom {
  max-width: 300px;
  background-color: lightslategray;
  color: antiquewhite;
  width: 100%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  box-shadow: 0 4px 12px black;
  padding: var(--spacing-md);
  border: 1px darkgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card-header {
  padding-bottom: var(--spacing-sm);
  color: antiquewhite;
}

mat-card-title {
  font-size: 2.25rem;
  font-weight: 500;
  color: antiquewhite;
  margin-bottom: var(--spacing-xs);
}

mat-card-content {
  padding-top: var(--spacing-sm);
  padding-left: 0;
  padding-right: 0;
  flex-grow: 1;
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  align-items: center;
  color: antiquewhite;
  text-align: center;
}

.product-card-custom .btn {
    margin-top: auto;
}

.product-card-custom img {
  height: auto;
  width: 80%;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: var(--spacing-md);
}

@media (max-width: 600px) {
  .product-card-custom {
    max-width: 100%;
    padding: var(--spacing-md);
  }
}
