.cart-item-image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--border-radius-md);
  margin-top: 1rem;
  margin-bottom: -2.25rem;
}

.cart-qty-button {
  width: 40px;
  height: 40px;
}

.btn-primary-red {
  background-color: pink;
  color: white;
}
.bg-secondary-color-red {
  background-color: red;
  color: white;
}